html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-image: url("https://media.giphy.com/media/fRqE6oaSmR1iE/source.gif");
    color: white;
}
